<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS5hwQf4TeHEI1Sk0lfV0jkMeA4blSro4</string>
	<key>GCM_SENDER_ID</key>
	<string>578159207410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nunu.newsApp</string>
	<key>PROJECT_ID</key>
	<string>free-api-news</string>
	<key>STORAGE_BUCKET</key>
	<string>free-api-news.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578159207410:ios:2f9ff57572058ea39bc16b</string>
</dict>
</plist>